@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #3F9FFA, #76E5FC);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: #205180;
}
h2{
    color: #13324e;
}
p{
    text-align: justify;
}