@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0;
}

header{
    background-color: #0A0A0A;
    color: aliceblue;
}

header h1{
    font-variant: small-caps;
    font-weight: 600;
    font-size: 10vw;
    font-family: 'Passion One';
    margin: 0;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0px 0px 20px;
    font-size: 1em;
    padding-bottom: 40px;
}

header p a{
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
}

header p a:hover{
    text-decoration: underline;
}

main p{
    margin: 70px 0px;
    width: 39vw;

    padding-left: 30px;
    text-align: left;

    font-size: 3.5vw;
    font-family: 'Sriracha';
}

main div.foto-1{
    background-image: url(assets/imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    padding-top: 2vw;
    padding-bottom: 10vw;
}

main div.foto-1 p{
    margin-left: 30px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.26);
    padding: 5px;
    border-radius: 15px;
}

main div#foto-2{
    background-image: url(assets/imagens/background002.jpg);
}


footer{
    background-color: #0A0A0A;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0px 0px 20px;
    font-size: 1.2em;
    padding: 15px;
}

footer a{
    text-decoration: none;
    font-weight: bolder;
    color: aliceblue;
}

footer a:hover{
    text-decoration: underline;
}